html,
body {
  min-width: $min-width;
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Fivo Sans", "Arial", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  line-height: 32px;
  color: $black;
  background-color: $white;
  font-smoothing: antialiased;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  color: inherit;
}

textarea {
  resize: vertical;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.overlay {
  display: block;
  position: fixed;
  width: 100%;
  min-height: 100vh;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: rgba(52, 52, 52, 0.65);

  &--hidden {
    display: none;
  }
}
